

/* Table of Content
==================================================
#BASIC TYPOGRAPHY
#HEADER SECTION
#NAVBAR SECTION
#SLIDER SECTION
#ABOUT US SECTION
#COUNTER SECTION
#MENU ITEM SECTION
#RESERVATION SECTION
#GALLERY SECTION
#TESTIMONIAL SECTION
#SUBSCRIPTION SECTION
#CHEF SECTION
#LATEST NEWS SECTION
#CONTACT SECTION
#MAP SECTION
#BLOG PAGE
#ERROR  PAGE
#FOOTER SECTION
#RESPONSIVE DESIGN
*/
/* BASE - Base tyles, Variables, Mixins, etc. */
/*@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400');*/
@import url('https://fonts.googleapis.com/css?family=Oswald:700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,900');

body {
  background-color: #ffffff;
  /*font-family: "Prata", serif;*/
  font-family: 'Montserrat', sans-serif;
  color: #333333;
  font-size: 15px;
  overflow-x: hidden;
  border-top: 2px solid #92cc34;
}

.no-padding {
  padding: 0;
}

/* MODULES - Individual site components */
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #333333;
}

a:hover,
a:focus {
  outline: none;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  /*font-family: "Open Sans", sans-serif;*/
}

h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  margin: 0;
}

img {
  border: none;
}

/* selection mania */
.selection-mania{padding: 15px; background: #fcb928; min-height: 200px; max-height: 200px;  position: fixed; bottom: -200px; left: 0; right: 0; z-index: 9999;}
.selection-mania h4{color:#000; font-size: 14px; font-weight: 800; margin-top: 0}
.selection-mania .sm-toggle{position: absolute; right: 15px; top: -36px; width: 36px; height: 36px; line-height: 36px; text-align: center; background: #212121; color:#fff;}
.selection-mania .sm-toggle:hover{background: #000; color:#fff;}
.selection-mania table tbody{max-height: 128px; overflow: auto; width: 100%;display:block;}
.selection-mania table{width: 100%;}
.selection-mania table tr {display:table; width:100%; table-layout:fixed;}
.selection-mania table tr th{border-bottom: 1px dotted rgba(0,0,0,0.2); color:#fbec6b; font-weight:500; min-width: 200px}
.selection-mania table tr td{vertical-align: top}
.sm-listing li{border-bottom: 1px dotted rgba(255,255,255,0.4); padding: 5px 0;}
.sm-listing img{height:36px}
.sm-listing h4{font-size: 11px}
.sm-listing span{font-size: 11px}
.sm-listing span input{font-size: 11px; width: 40px; border:0; padding: 0 5px }
.order-now{background-color: #fff;font-family: 'Open Sans';font-weight: 800;text-transform: uppercase;color: #000;font-size: 12px;padding: 5px 15px !important; border-radius: 4px;text-align: center;float: right;}
.order-now:hover{background-color: #92cc34;font-family: 'Open Sans';font-weight: 800;text-transform: uppercase;color: #000;font-size: 12px;padding: 5px 15px !important; border-radius: 4px;text-align: center;float: right;}

.quick-salads{    box-shadow: 0px 0px 6px rgba(255,255,255,0.4);position: fixed; left: -20px; bottom:280px; z-index: 99999; background: #92cc34; transition: all 0.3s ease; padding-left: 20px;  border-radius: 0 36px 36px 0;}
.quick-make{    box-shadow: 0px 0px 6px rgba(255,255,255,0.4);position: fixed; left: -20px; bottom:220px; z-index: 99999; background: #92cc34; transition: all 0.3s ease; padding-left: 20px; border-radius: 0 36px 36px 0;}
.quick-salads:hover, .quick-make:hover{left: 0px;}

.mu-readmore-btn {
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
  display: inline-block;
  font-size: 16px;
  padding: 15px 35px;
  position: relative;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.mu-readmore-btn::after {
  bottom: 5px;
  content: "";
  left: 5px;
  position: absolute;
  right: 5px;
  top: 5px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.mu-readmore-btn{background: #92cc34; color:#fff}

.mu-readmore-btn:hover, .mu-readmore-btn:focus {
  color: #fff;
}
.mu-readmore-btn:hover::after, .mu-readmore-btn:focus::after {
  bottom: 0px;
  content: "";
  left: 0px;
  right: 0px;
  top: 0px;
}

.mu-browsmore-btn {
  background-color: #fff;
  border: 1px solid #ccc;
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.5px;
  padding: 12px 25px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.mu-browsmore-btn:hover, .mu-browsmore-btn:focus {
  color: #fff;
}

.mu-send-btn {
  background-color: transparent;
  border: 1px solid #ccc;
  display: inline-block;
  font-size: 16px;
  padding: 10px 18px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.mu-send-btn:hover, .mu-send-btn:focus {
  color: #fff;
}

/* LAYOUTS - Page layout styles */
/*==================
 HEADER SECTION
====================*/
#mu-header {
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
  z-index: 999;
      background: #f7f7f7;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  padding: 8px 0
}

/*==================
 NAVBAR SECTION
====================*/
#navbar{float: right}
.navbar{margin-bottom: 0;  padding: 10px 0}
.navbar-right{float: left !important}
.ordernow{background-color: #ddd; transition: all 0.3s ease;  font-weight: 600;  color:#fff; border: 1px solid #ddd; font-size: 14px;padding:8px 25px !important;border-radius: 24px; text-align: center; margin-top: 18px;float: right; margin-left:10px}
.ordernow:hover{background-color: #92cc34;   color:#fff; border: 1px solid #a3c22b; }
.userlogin{font-family: 'Open Sans'; font-size: 14px; margin-top: 18px;float: right; color:#b1b1b1; line-height: 34px; padding: 0 15px}

.mu-main-navbar {
  background-color: transparent;
  border: none;
  padding: 0px 0;
  border-radius: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.mu-main-navbar .mu-main-nav {
  font-family: "Open Sans", sans-serif;
  margin-left: 60px;
}
.mu-main-navbar .mu-main-nav li a {
  color: #111;
  font-size: 14px;
  letter-spacing: 1px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  line-height: 42px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}
.mu-main-navbar .mu-main-nav .dropdown-menu {
  background-color: #333;
  border-radius: 0;
}
.mu-main-navbar .mu-main-nav .dropdown-menu li a {
  padding: 10px 20px;
}
.mu-main-navbar .navbar-header .navbar-brand {
  padding: 4px;
  margin-top: 0px; margin-left: 15px;
  height:68px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.mu-main-navbar .navbar-header .navbar-brand img {
  height: 100%;
}
.mu-main-navbar .navbar-header .navbar-brand-small {
  height: 20px;
  margin-top: 16px;
  width: 105px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
}

.mu-main-navbar .mu-main-nav li a.active {color:#92cc34}

.video-iframe {position: relative}
.video-iframe .content{position: absolute; width: 424px; top:80px;  left: 0; right:0; margin: auto;   color:#fff}
.video-iframe .content h4{text-align: center; color:#92cc34; font-weight: 700; font-size: 24px; letter-spacing: 3px; margin-bottom: 30px}
.video-iframe .content p{text-align: center}

.sticky-footer{position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding-bottom: 5px;
    z-index: 30;
  background-image: linear-gradient(transparent, rgba(0,0,0,0.5));}

.sticky-footer ul li{display: inline-block}
.sticky-footer ul li a{color:#fff; line-height: 42px; padding: 0 8px; font-weight: 700; text-transform: uppercase}
.sticky-footer ul li a:hover{color:#92cc34}
.sticky-footer ul.right {text-align: right; float: right}

.navbar-bg {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px 0;
}

/* ALL SECTION */

/*scrol to top*/
.scrollToTop {
  bottom: 60px;
  color: #fff;
  display: none;
  font-size: 17px;
  line-height: 22px;
  font-family: "Open Sans", sans-serif;
  padding: 5px 0;
  position: fixed;
  right: 20px;
  text-align: center;
  text-decoration: none;
  width: 55px;
  z-index: 999;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.scrollToTop i {
  display: block;
}
.scrollToTop span {
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

.scrollToTop:hover,
.scrollToTop:focus {
  color: #fff;
}

/*Preloader*/
#aa-preloader-area {
  background-color: #fff;
  position: fixed;
  text-align: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.mu-preloader {
  position: relative;
  top: 45%;
}

/*==================
	SLIDER SECTION
====================*/
#mu-slider {
  display: inline;
  float: left;
  width: 100%;
  position: relative;
  padding-top: 0;
  height: 100vh;
}
#mu-slider .mu-slider-area {
  display: inline;
  float: left;
  width: 100%; height: 100vh;
}
#mu-slider .mu-slider-area .mu-top-slider {
  display: inline;
  float: left;
  width: 100%;
}
#mu-slider .mu-slider-area .mu-top-slider .mu-top-slider-single {
  display: inline;
  float: left;
  position: relative;
  width: 100%;
}
#mu-slider .mu-slider-area .mu-top-slider .mu-top-slider-single:after {
/*  background-color: rgba(0, 0, 0, 0.2);*/
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 9;
}
#mu-slider .mu-slider-area .mu-top-slider .mu-top-slider-single img {
  width: 100%; height: 100vh;
}
#mu-slider .mu-slider-area .mu-top-slider .mu-top-slider-single .mu-top-slider-content {
  position: absolute;
  left: 15%;
  top: 33%;
  right: 15%;
  text-align: center;
  z-index: 99;
}
#mu-slider .mu-slider-area .mu-top-slider .mu-top-slider-single .mu-top-slider-content .mu-slider-small-title {
  font-family: 'Roboto', sans-serif;
  font-size: 52px;
  font-weight:100;
  line-height: 40px;
}
#mu-slider .mu-slider-area .mu-top-slider .mu-top-slider-single .mu-top-slider-content .mu-slider-title {
  color: #fff;
  font-size: 70px;
  line-height: 90px;
}
#mu-slider .mu-slider-area .mu-top-slider .mu-top-slider-single .mu-top-slider-content p {
  color: #fff;
  font-size: 20px;
  margin-bottom: 30px;
  margin-top: 10px;
  padding: 0 30px;
}
#mu-slider .mu-slider-area .mu-top-slider .slick-prev::before {
  content: "\f177";
  font-family: fontAwesome;
}
#mu-slider .mu-slider-area .mu-top-slider .slick-next::before {
  content: "\f178";
  font-family: fontAwesome;
}
#mu-slider .mu-slider-area .mu-top-slider .slick-prev,
#mu-slider .mu-slider-area .mu-top-slider .slick-next {
  background-color: transparent;
  border: 2px solid #888;
  height: 60px;
  top: 50%;
  width: 70px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#mu-slider .mu-slider-area .mu-top-slider .slick-prev::before,
#mu-slider .mu-slider-area .mu-top-slider .slick-next::before {
  color: #888;
}
#mu-slider .mu-slider-area .mu-top-slider .slick-prev:hover, #mu-slider .mu-slider-area .mu-top-slider .slick-prev:focus,
#mu-slider .mu-slider-area .mu-top-slider .slick-next:hover,
#mu-slider .mu-slider-area .mu-top-slider .slick-next:focus {
  color: #fff;
}
#mu-slider .mu-slider-area .mu-top-slider .slick-prev:hover::before, #mu-slider .mu-slider-area .mu-top-slider .slick-prev:focus::before,
#mu-slider .mu-slider-area .mu-top-slider .slick-next:hover::before,
#mu-slider .mu-slider-area .mu-top-slider .slick-next:focus::before {
  color: #fff;
}
#mu-slider .mu-slider-area .mu-top-slider .slick-prev {
  left: 20px;
}
#mu-slider .mu-slider-area .mu-top-slider .slick-next {
  right: 20px;
}

/*==================
	ABOUT US SECTION
====================*/
#mu-about-us {
  display: inline;
  float: left;
  width: 100%;
  padding: 40px 0;
}
#mu-about-us .mu-about-us-area {
  display: inline;
  float: left;
  width: 100%;
}
#mu-about-us .mu-about-us-area .mu-about-us-left {
  display: inline;
  float: left;
  padding-top: 30px;
  width: 100%;
}
#mu-about-us .mu-about-us-area .mu-about-us-left p {
  line-height: 24px;
}
#mu-about-us .mu-about-us-area .mu-about-us-left ul {
  margin-bottom: 20px;
  padding-left: 20px;
}
#mu-about-us .mu-about-us-area .mu-about-us-left ul li {
  line-height: 24px;
  margin-bottom: 10px;
}
#mu-about-us .mu-about-us-area .mu-about-us-left ul li:before {
  content: "\f24d";
  font-family: fontAwesome;
  margin-right: 10px;
}
#mu-about-us .mu-about-us-area .mu-about-us-right {
  display: inline;
  float: left;

  padding-top: 30px;
  width: 100%;
}
.mu-title {
  display: inline;
  float: left;
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
}
.mu-title .mu-subtitle {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    line-height: 30px;
    text-transform: uppercase;
}
.mu-title h2 {
  color: #28343d;
  font-size: 48px;
  margin-bottom: 40px;
  letter-spacing:  4px;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase; 
}
.mu-title i {
  font-size: 18px;
}
.mu-title .mu-title-bar {
  position: relative;
}
.mu-title .mu-title-bar::before {
  content: "";
  height: 2px;
  left: 8px;
  position: absolute;
  top: 10px;
  width: 100px;
}
.mu-title .mu-title-bar::after {
  content: "";
  height: 2px;
  right: 15px;
  position: absolute;
  top: 10px;
  width: 100px;
}

.mu-subscription-area .mu-title h2{line-height: 52px}

/*==================
 COUNTER SECTION
====================*/
#mu-counter {
  background-attachment: fixed;
  background-image: url("../img/counter-bg.jpg");
  background-size: cover;
  display: inline;
  float: left;
  width: 100%;
}
#mu-counter .mu-counter-overlay {
  background-color: rgba(0, 0, 0, 0.8);
  display: inline;
  padding: 40px 0;
  float: left;
  width: 100%;
}
#mu-counter .mu-counter-overlay .mu-counter-area {
  display: inline;
  float: left;
  width: 100%;
}
#mu-counter .mu-counter-overlay .mu-counter-area .mu-counter-nav {
  display: inline-block;
  width: 100%;
}
#mu-counter .mu-counter-overlay .mu-counter-area .mu-counter-nav li {
  display: inline-block;
  border-right: 1px solid #ccc;
}
#mu-counter .mu-counter-overlay .mu-counter-area .mu-counter-nav li:last-child {
  border-right: none;
}
#mu-counter .mu-counter-overlay .mu-counter-area .mu-counter-nav li .mu-single-counter {
  color: #fff;
  display: inline;
  float: left;
  text-align: center;
  width: 100%;
}
#mu-counter .mu-counter-overlay .mu-counter-area .mu-counter-nav li .mu-single-counter span {
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
}
#mu-counter .mu-counter-overlay .mu-counter-area .mu-counter-nav li .mu-single-counter h3 {
  font-size: 50px;
  font-weight: bold;
  line-height: 40px;
  margin-bottom: 15px;
  margin-top: 0;
}
#mu-counter .mu-counter-overlay .mu-counter-area .mu-counter-nav li .mu-single-counter h3 span {
  font-family: "Open Sans", sans-serif;
  font-size: 50px;
  font-weight: bold;
  line-height: 40px;
}
#mu-counter .mu-counter-overlay .mu-counter-area .mu-counter-nav li .mu-single-counter h3 sup {
  font-weight: normal;
  display: inline-block;
  font-size: 35px;
}
#mu-counter .mu-counter-overlay .mu-counter-area .mu-counter-nav li .mu-single-counter p {
  font-size: 18px;
  letter-spacing: 1.5px;
}

/*==================
 MENU ITEM SECTION
====================*/

input[type="checkbox"]
    {
        opacity: 0;
        height: 0;
        width:0;

    }
input[type="radio"]
    {
        opacity: 0;
        height: 0;
        width:0;

    }
    .checkmark
    {
        height:49px;
        width:25px;
        background-color: #eee;
        position: absolute;
        right: 0;
        top: 0;
    }
    .checkmark:hover
    {
        background-color: #b9b9b9;
    }
    .checkmark:after
    {
        content: "";
        position: absolute;
        top:16px;
        display: none;
        left:10px;
        height: 12px;
        width: 5px;
        border: solid #fff;
        border-width: 0px 2px 2px 0px;
        transform: rotate(45deg);
    }
    input:checked ~ .checkmark
    {
        background-color: #92cc34;
    }
    input:checked ~ .checkmark:after
    {
        display: block;
    }
    
    
    
     .chosemark
    {
        height:25px;
        width:25px;
        background-color: #fff;
        position: absolute;
        right: 0;
        top: 0;
    }
    .chosemark:hover
    {
        background-color: #b9b9b9;
    }
    .chosemark:after
    {
        content: "";
        position: absolute;
        top:7px;
        display: none;
        left:10px;
        height: 10px;
        width: 5px;
        border: solid #fff;
        border-width: 0px 2px 2px 0px;
        transform: rotate(45deg);
    }
    input:checked ~ .chosemark
    {
        background-color: #92cc34;
    }
    input:checked ~ .chosemark:after
    {
        display: block;
    }
    
    
   .modal-content{border-radius: 3px}
   .modal-title{font-size: 14px; padding: 10px 20px}
.selection { position: relative;    border: 1px solid #eee;
    width: 100%;
    line-height: 24px;
    padding: 0 30px 0 5px;
margin-bottom: 10px}    
.chosen { position: relative;    border: 1px solid #eee;
    width: 100%; border-left: 0;
    padding: 15px;
}    

.item-selection{display: flex;}
.item-selection .bi-qty {padding-left: 10px}
.item-selection .bi-qty .bt-qty-pick{display:flex}
.item-selection .bi-qty p{font-size: 9px; margin-bottom: 8px}

.selection > .media{border:1px solid #eee;}    
.selection > .media:hover{border:1px solid #ddd; cursor: pointer}    
.selection b{color:#888; font-weight: 400; padding-left: 20px}

.bag-delivery{background-color: #fff}
.bag-delivery .chosen-wrapper{display: flex;}
.bag-delivery .chosen-wrapper .chosen{margin-bottom: 0;}
.bag-delivery .chosen-wrapper .chosen:hover{background: #f7f7f7; cursor: pointer}
.bag-delivery .chosen-wrapper .chosen img{display: block}

.bag-delivery .time-wrapper{display: flex}
.bag-delivery .time-wrapper select.form-control{border-radius: 0; box-shadow:none; border-top: 0; border:1px solid #eee}



@media (min-width: 768px){
.modal-dialog {
    width: 800px !important;
    margin: 30px auto;
}}

#mu-restaurant-menu {
  display: inline;
  float: left;
  width: 100%;
  padding: 80px 0;
  min-height: 690px;
}
#mu-restaurant-menu .mu-restaurant-menu-area {
  display: inline;
  float: left;
  width: 100%;

}
#mu-restaurant-menu .mu-restaurant-menu-area .mu-restaurant-menu-content {
  display: inline;
  float: left;
  width: 100%;
}
#mu-restaurant-menu .mu-restaurant-menu-area .mu-restaurant-menu-content .mu-restaurant-menu {
  display: inline-block;
  width: 100%;
  text-align: center;
}
#mu-restaurant-menu .mu-restaurant-menu-area .mu-restaurant-menu-content .mu-restaurant-menu li {
  display: inline-block;
  float: none;
}
#mu-restaurant-menu .mu-restaurant-menu-area .mu-restaurant-menu-content .mu-restaurant-menu li a {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  border-radius: 0;
  color: #fff;
  font-size: 18px;
  margin: 0 15px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#mu-restaurant-menu .mu-restaurant-menu-area .mu-restaurant-menu-content .mu-restaurant-menu .active a,
#mu-restaurant-menu .mu-restaurant-menu-area .mu-restaurant-menu-content .mu-restaurant-menu .active a:hover,
#mu-restaurant-menu .mu-restaurant-menu-area .mu-restaurant-menu-content .mu-restaurant-menu .active a:focus {
  background-color: #FFF;
}
#mu-restaurant-menu .mu-restaurant-menu-area .mu-restaurant-menu-content .mu-tab-content-area {
  display: inline;
  float: left;
  width: 100%;
  padding: 10px 0;
}
#mu-restaurant-menu .mu-restaurant-menu-area .mu-restaurant-menu-content .mu-tab-content-area .mu-tab-content-left {
  display: inline;
  float: left;
  padding-right: 15px;
  width: 100%;
}
#mu-restaurant-menu .mu-restaurant-menu-area .mu-restaurant-menu-content .mu-tab-content-area .mu-tab-content-right {
  display: inline;
  float: left;
  padding-left: 15px;
  width: 100%;
}
#mu-restaurant-menu .mu-restaurant-menu-area .mu-restaurant-menu-content .mu-tab-content-area .mu-menu-item-nav li {
  border-bottom: 1px dashed #ccc;
  display: inline;
  float: left;
  margin-bottom: 20px;
  padding-bottom: 15px;
  width: 100%;
}
#mu-restaurant-menu .mu-restaurant-menu-area .mu-restaurant-menu-content .mu-tab-content-area .mu-menu-item-nav li:last-child {
  border-bottom: none;
  margin-bottom: 0;
}
#mu-restaurant-menu .mu-restaurant-menu-area .mu-restaurant-menu-content .mu-tab-content-area .mu-menu-item-nav li .media .media-left {
  width: 110px;
  height: 110px;
  padding-right: 15px;
}
#mu-restaurant-menu .mu-restaurant-menu-area .mu-restaurant-menu-content .mu-tab-content-area .mu-menu-item-nav li .media .media-left a img {
  width: 110px;
  height: 110px;
}
#mu-restaurant-menu .mu-restaurant-menu-area .mu-restaurant-menu-content .mu-tab-content-area .mu-menu-item-nav li .media .media-body .media-heading {
  font-size: 20px;
  margin-bottom: 10px;
}
#mu-restaurant-menu .mu-restaurant-menu-area .mu-restaurant-menu-content .mu-tab-content-area .mu-menu-item-nav li .media .media-body .media-heading a {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#mu-restaurant-menu .mu-restaurant-menu-area .mu-restaurant-menu-content .mu-tab-content-area .mu-menu-item-nav li .media .media-body .mu-menu-price {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1.5px;
  line-height: 20px;
  
}
#mu-restaurant-menu .mu-restaurant-menu-area .mu-restaurant-menu-content .mu-tab-content-area .mu-menu-item-nav li .media .media-body p {
  margin-top: 10px;
  font-size: 12px;
  font-family: 'Roboto', Serif;
  color:#888;
}

/*==================
RESERVATION SECTION
====================*/
#mu-reservation {
  background-color: #222;
  display: inline;
  float: left;
  padding: 100px 0;
  width: 100%;
}
#mu-reservation .mu-reservation-area {
  display: inline;
  float: left;
  width: 100%;
}
#mu-reservation .mu-reservation-area .mu-title h2 {
  color: #fff;
}
#mu-reservation .mu-reservation-area .mu-reservation-content {
  display: inline;
  float: left;
  margin-top: 20px;
  padding: 0 100px;
  width: 100%;
}
#mu-reservation .mu-reservation-area .mu-reservation-content h3 {
  color: #fff;
  display: inline-block;
  padding-bottom: 10px;
  font-weight: bold;
}
#mu-reservation .mu-reservation-area .mu-reservation-content p {
  color: #fff;
  letter-spacing: 0.5px;
  padding: 0 50px;
  text-align: center;
}
#mu-reservation .mu-reservation-area .mu-reservation-content .mu-reservation-form {
  margin-top: 30px;
  text-align: center;
}
#mu-reservation .mu-reservation-area .mu-reservation-content .mu-reservation-form .form-control {
  margin-bottom: 20px;
}
#mu-reservation .mu-reservation-area .mu-reservation-content .mu-reservation-form input[type="text"],
#mu-reservation .mu-reservation-area .mu-reservation-content .mu-reservation-form input[type="email"] {
  border-radius: 0;
  color: #000;
  height: 40px;
}
#mu-reservation .mu-reservation-area .mu-reservation-content .mu-reservation-form input[type="text"]:focus,
#mu-reservation .mu-reservation-area .mu-reservation-content .mu-reservation-form input[type="email"]:focus {
  box-shadow: none;
}
#mu-reservation .mu-reservation-area .mu-reservation-content .mu-reservation-form input[type="text"]::-webkit-input-placeholder,
#mu-reservation .mu-reservation-area .mu-reservation-content .mu-reservation-form input[type="email"]::-webkit-input-placeholder {
  color: #555;
}
#mu-reservation .mu-reservation-area .mu-reservation-content .mu-reservation-form input[type="text"]:-moz-placeholder,
#mu-reservation .mu-reservation-area .mu-reservation-content .mu-reservation-form input[type="email"]:-moz-placeholder {
  color: #555;
}
#mu-reservation .mu-reservation-area .mu-reservation-content .mu-reservation-form input[type="text"]::-moz-placeholder,
#mu-reservation .mu-reservation-area .mu-reservation-content .mu-reservation-form input[type="email"]::-moz-placeholder {
  color: #555;
}
#mu-reservation .mu-reservation-area .mu-reservation-content .mu-reservation-form input[type="text"]:-ms-input-placeholder,
#mu-reservation .mu-reservation-area .mu-reservation-content .mu-reservation-form input[type="email"]:-ms-input-placeholder {
  color: #555;
}
#mu-reservation .mu-reservation-area .mu-reservation-content .mu-reservation-form select {
  border-radius: 0;
  height: 40px;
}
#mu-reservation .mu-reservation-area .mu-reservation-content .mu-reservation-form select:focus {
  box-shadow: none;
}
#mu-reservation .mu-reservation-area .mu-reservation-content .mu-reservation-form select option {
  margin-bottom: 10px;
  color: #000;
}
#mu-reservation .mu-reservation-area .mu-reservation-content .mu-reservation-form textarea {
  border-radius: 0;
  color: #000;
  padding: 10px;
}
#mu-reservation .mu-reservation-area .mu-reservation-content .mu-reservation-form textarea:focus {
  box-shadow: none;
}
#mu-reservation .mu-reservation-area .mu-reservation-content .mu-reservation-form textarea::-webkit-input-placeholder {
  color: #555;
}
#mu-reservation .mu-reservation-area .mu-reservation-content .mu-reservation-form textarea:-moz-placeholder {
  color: #555;
}
#mu-reservation .mu-reservation-area .mu-reservation-content .mu-reservation-form textarea::-moz-placeholder {
  color: #555;
}
#mu-reservation .mu-reservation-area .mu-reservation-content .mu-reservation-form textarea:-ms-input-placeholder {
  color: #555;
}
#mu-reservation .mu-reservation-area .mu-reservation-content .mu-reservation-form button[type="submit"] {
  border: none;
  margin-top: 20px;
  margin-left: 15px;
}

.datepicker {
  border-radius: 0;
  padding: 6px 10px;
}

.datepicker .datepicker-switch, .datepicker .prev, .datepicker .next, .datepicker tfoot tr th {
  font-size: 20px;
}

.table-condensed > thead > tr > th, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > tbody > tr > td, .table-condensed > tfoot > tr > td {
  padding: 6px;
}

.datepicker table tr td.day:hover {
  color: #fff;
}

/*==================
 GALLERY SECTION
====================*/
#mu-gallery {
  display: inline;
  float: left;
  padding: 100px 0;
  width: 100%;
}
#mu-gallery .mu-gallery-area {
  display: inline;
  float: left;
  width: 100%;
}
#mu-gallery .mu-gallery-area .mu-gallery-content {
  display: inline;
  float: left;
  width: 100%;
}
#mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-top {
  display: inline;
  float: left;
  width: 100%;
  margin-top: 50px;
}
#mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-top ul {
  display: inline-block;
  text-align: center;
  width: 100%;
}
#mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-top ul li {
  background-color: #eee;
  color: #555;
  cursor: pointer;
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  margin: 0 13px;
  padding: 10px 15px;
  position: relative;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-top ul li::after {
  border: 2px solid #fff;
  bottom: 5px;
  content: "";
  left: 5px;
  position: absolute;
  right: 5px;
  top: 5px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
#mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-top ul li:hover, #mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-top ul li:focus {
  color: #fff;
}
#mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-top ul li:hover::after, #mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-top ul li:focus::after {
  bottom: 0px;
  content: "";
  left: 0px;
  right: 0px;
  top: 0px;
}
#mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-top ul .active {
  color: #fff;
}
#mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-body {
  display: inline;
  float: left;
  width: 100%;
  margin-top: 50px;
}
#mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-body .mu-single-gallery {
  display: inline;
  float: left;
  margin-bottom: 30px;
  width: 33.33%;
}
#mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-body .mu-single-gallery:last-child {
  margin-bottom: 0px;
}
#mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-body .mu-single-gallery .mu-single-gallery-item {
  display: inline;
  float: left;
  width: 100%;
  position: relative;
}
#mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-body .mu-single-gallery .mu-single-gallery-item:hover .mu-single-gallery-img:after {
  border: 2px solid #fff;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
#mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-body .mu-single-gallery .mu-single-gallery-item:hover .mu-single-gallery-info {
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 1;
}
#mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-body .mu-single-gallery .mu-single-gallery-item .mu-single-gallery-img {
  display: inline;
  float: left;
  height: 220px;
  overflow: hidden;
  width: 100%;
}
#mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-body .mu-single-gallery .mu-single-gallery-item .mu-single-gallery-img img {
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -ms-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
}
#mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-body .mu-single-gallery .mu-single-gallery-item .mu-single-gallery-img:after {
  bottom: 50px;
  content: "";
  left: 70px;
  position: absolute;
  right: 70px;
  top: 50px;
  transition: all 0.5s ease 0s;
}
#mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-body .mu-single-gallery .mu-single-gallery-item .mu-single-gallery-info {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  padding-top: 22.3%;
  opacity: 0;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -ms-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
}
#mu-gallery .mu-gallery-area #mixit-container .mix {
  display: none;
}

/*==================
  TESTIMONIAL SECTION
====================*/
#mu-client-testimonial {
  background-image: url("assets/img/testimonial-bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  display: inline;
  float: left;
  width: 100%;
}
#mu-client-testimonial .mu-overlay {
  background-color: rgba(0, 0, 0, 0.8);
  display: inline;
  float: left;
  padding: 70px 0 100px;
  width: 100%;
}
#mu-client-testimonial .mu-overlay .mu-title h2 {
  color: #fff;
}
#mu-client-testimonial .mu-client-testimonial-area {
  display: inline;
  float: left;
  width: 100%;
}
#mu-client-testimonial .mu-client-testimonial-area .mu-testimonial-content {
  display: inline;
  float: left;
  width: 100%;
}
#mu-client-testimonial .mu-client-testimonial-area .mu-testimonial-content .mu-testimonial-slider {
  display: inline;
  float: left;
  width: 100%;
}
#mu-client-testimonial .mu-client-testimonial-area .mu-testimonial-content .mu-testimonial-slider li {
  display: inline;
  float: left;
  width: 100%;
}
#mu-client-testimonial .mu-client-testimonial-area .mu-testimonial-content .mu-testimonial-slider li .mu-testimonial-single {
  display: inline;
  float: left;
  padding: 0 150px;
  position: relative;
  width: 100%;
}
#mu-client-testimonial .mu-client-testimonial-area .mu-testimonial-content .mu-testimonial-slider li .mu-testimonial-single .mu-testimonial-info {
  display: inline;
  float: left;
  width: 100%;
  text-align: center;
}
#mu-client-testimonial .mu-client-testimonial-area .mu-testimonial-content .mu-testimonial-slider li .mu-testimonial-single .mu-testimonial-info p {
  color: #fff;
  font-size: 20px;
  letter-spacing: 0.5px;
  line-height: 35px;
  margin-top: 30px;
  padding: 0;
  position: relative;
  z-index: 20;
}
#mu-client-testimonial .mu-client-testimonial-area .mu-testimonial-content .mu-testimonial-slider li .mu-testimonial-single .mu-testimonial-info p:before {
  content: '\f10e';
  font-family: fontAwesome;
  font-size: 50px;
  left: 1%;
  position: absolute;
  text-align: center;
  top: 20%;
  opacity: 0.6;
  width: 100%;
  z-index: -10;
}
#mu-client-testimonial .mu-client-testimonial-area .mu-testimonial-content .mu-testimonial-slider li .mu-testimonial-single .mu-testimonial-bio {
  color: #fff;
  display: inline-block;
  float: left;
  margin-top: 5px;
  margin-bottom: 25px;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 30;
}
#mu-client-testimonial .mu-client-testimonial-area .mu-testimonial-content .mu-testimonial-slider li .mu-testimonial-single .mu-testimonial-bio p {
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1px;
  margin-bottom: 0;
  min-width: 175px;
  padding-top: 10px;
}
#mu-client-testimonial .mu-client-testimonial-area .mu-testimonial-content .mu-testimonial-slider .slick-dots {
  text-align: center;
}
#mu-client-testimonial .mu-client-testimonial-area .mu-testimonial-content .mu-testimonial-slider .slick-dots li {
  border-radius: 50%;
  width: 20px;
  display: inline-block;
  float: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#mu-client-testimonial .mu-client-testimonial-area .mu-testimonial-content .mu-testimonial-slider .slick-dots li button {
  display: none;
}

/*==================
  SUBSCRIPTION SECTION
====================*/
#mu-subscription {
  display: inline;
  float: left;
  padding: 0px 0;
  width: 100%;
  
  background-size: cover;
  background-repeat: no-repeat
}
#mu-subscription .mu-subscription-area {
  display: inline;
  float: left;
  padding: 60px 100px;
  margin: 0 40px; border:2px solid #fff
}
#mu-subscription .mu-subscription-area .mu-subscription-form input[type="text"] {
  border: medium none;
  color: #000;
  float: left;
  font-size: 16px;
  height: 54px;
  margin-right: 20px;
  letter-spacing: 1px;
  padding: 10px;
  width: 75%;
}
#mu-subscription .mu-subscription-area .mu-subscription-form input[type="text"]::-webkit-input-placeholder {
  color: #555;
  opacity: 1;
}
#mu-subscription .mu-subscription-area .mu-subscription-form input[type="text"]:-moz-placeholder {
  color: #555;
  opacity: 1;
}
#mu-subscription .mu-subscription-area .mu-subscription-form input[type="text"]::-moz-placeholder {
  color: #555;
  opacity: 1;
}
#mu-subscription .mu-subscription-area .mu-subscription-form input[type="text"]:-ms-input-placeholder {
  color: #555;
  opacity: 1;
}
#mu-subscription .mu-subscription-area .mu-subscription-form button[type="submit"] {
  border: none;
}
#mu-subscription .mu-subscription-area .mu-subscription-form button[type="submit"]:hover {
  background-color: #FFF;
}

/*==================
  CHEF SECTION
====================*/
#mu-chef {
  display: inline;
  float: left;
  padding: 100px 0;
  width: 100%;
}
#mu-chef .mu-chef-area {
  display: inline;
  float: left;
  width: 100%;
}
#mu-chef .mu-chef-area .mu-chef-content {
  display: inline;
  float: left;
  margin-top: 30px;
  padding-bottom: 60px;
  width: 100%;
}
#mu-chef .mu-chef-area .mu-chef-content .mu-chef-nav {
  display: inline;
  float: left;
  text-align: center;
  width: 100%;
}
#mu-chef .mu-chef-area .mu-chef-content .mu-chef-nav .slick-list li {
  background-color: #f8f8f8;
  display: inline-block;
  margin: 0 5px;
  width: 22%;
  overflow: hidden;
}
#mu-chef .mu-chef-area .mu-chef-content .mu-chef-nav .slick-list li:first-child {
  margin-left: 0;
}
#mu-chef .mu-chef-area .mu-chef-content .mu-chef-nav .slick-list li:last-child {
  margin-right: 0;
}
#mu-chef .mu-chef-area .mu-chef-content .mu-chef-nav .slick-list li .mu-single-chef {
  display: inline;
  float: left;
  width: 100%;
  position: relative;
}
#mu-chef .mu-chef-area .mu-chef-content .mu-chef-nav .slick-list li .mu-single-chef:hover .mu-single-chef-social {
  bottom: 0;
  opacity: 1;
}
#mu-chef .mu-chef-area .mu-chef-content .mu-chef-nav .slick-list li .mu-single-chef .mu-single-chef-img {
  display: inline;
  float: left;
  width: 100%;
}
#mu-chef .mu-chef-area .mu-chef-content .mu-chef-nav .slick-list li .mu-single-chef .mu-single-chef-img img {
  width: 100%;
}
#mu-chef .mu-chef-area .mu-chef-content .mu-chef-nav .slick-list li .mu-single-chef .mu-single-chef-info {
  display: inline;
  float: left;
  padding: 10px 10px 20px;
  width: 100%;
}
#mu-chef .mu-chef-area .mu-chef-content .mu-chef-nav .slick-list li .mu-single-chef .mu-single-chef-info h4 {
  margin-bottom: 5px;
}
#mu-chef .mu-chef-area .mu-chef-content .mu-chef-nav .slick-list li .mu-single-chef .mu-single-chef-info span {
  font-size: 14px;
  letter-spacing: 0.5px;
}
#mu-chef .mu-chef-area .mu-chef-content .mu-chef-nav .slick-list li .mu-single-chef .mu-single-chef-social {
  background-color: #000;
  position: absolute;
  bottom: -100%;
  left: 0;
  right: 0;
  padding: 23px 20px;
  text-align: center;
  opacity: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#mu-chef .mu-chef-area .mu-chef-content .mu-chef-nav .slick-list li .mu-single-chef .mu-single-chef-social a {
  display: inline-block;
  margin: 0 5px;
  padding: 5px;
  text-align: center;
  width: 35px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#mu-chef .mu-chef-area .mu-chef-content .mu-chef-nav .slick-list li .mu-single-chef .mu-single-chef-social a:hover, #mu-chef .mu-chef-area .mu-chef-content .mu-chef-nav .slick-list li .mu-single-chef .mu-single-chef-social a:focus {
  color: #fff;
}
#mu-chef .mu-chef-area .mu-chef-content .mu-chef-nav .slick-dots {
  text-align: center;
  margin-bottom: -30px;
}
#mu-chef .mu-chef-area .mu-chef-content .mu-chef-nav .slick-dots li {
  border-radius: 50%;
  width: 20px;
  display: inline-block;
  float: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#mu-chef .mu-chef-area .mu-chef-content .mu-chef-nav .slick-dots li button {
  display: none;
}

/*==================
  LATEST NEWS SECTION
====================*/
#mu-latest-news {
  background-color: #F8F8F8;
  display: inline;
  float: left;
  padding: 100px 0;
  width: 100%;
}
#mu-latest-news .mu-latest-news-area {
  display: inline;
  float: left;
  width: 100%;
}
#mu-latest-news .mu-latest-news-area .mu-latest-news-content {
  display: inline;
  float: left;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
#mu-latest-news .mu-latest-news-area .mu-latest-news-content .mu-browsmore-btn {
  margin-top: 50px;
}

.mu-news-single {
  background-color: #FFF;
  display: inline;
  float: left;
  width: 100%;
}
.mu-news-single h3 {
  line-height: 30px;
  margin-bottom: 25px;
  padding: 0 15px;
  text-align: center;
}
.mu-news-single h3 a {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.mu-news-single .mu-news-img {
  display: inline;
  float: left;
  width: 100%;
}
.mu-news-single .mu-news-img img {
  width: 100%;
}
.mu-news-single .mu-news-single-content {
  display: inline;
  float: left;
  width: 100%;
  padding: 25px 20px;
}
.mu-news-single .mu-news-single-content .mu-meta-nav {
  display: inline-block;
  text-align: center;
  margin-bottom: 15px;
  width: 100%;
}
.mu-news-single .mu-news-single-content .mu-meta-nav li {
  display: inline-block;
  padding: 0 15px;
  border-right: 1px solid #ccc;
}
.mu-news-single .mu-news-single-content .mu-meta-nav li:last-child {
  border-right: none;
}
.mu-news-single .mu-news-single-content p {
  text-align: center;
}
.mu-news-single .mu-news-single-bottom {
  display: inline;
  float: left;
  width: 100%;
  text-align: center;
}
.mu-news-single .mu-news-single-bottom a {
  display: inline-block;
  margin-top: 10px;
}

/*==================
 CONTACT SECTION
====================*/
#mu-contact {
  display: inline;
  float: left;
  padding: 40px 0;
  width: 100%;
}
#mu-contact .mu-contact-area {
  display: inline;
  float: left;
  width: 100%;
}
#mu-contact .mu-contact-area .mu-contact-content {
  display: inline;
  float: left;
  margin-top: 30px;
  width: 100%;
}
#mu-contact .mu-contact-area .mu-contact-content .mu-contact-left {
  display: inline;
  float: left;
  width: 100%;background: rgba(255,255,255,0.85);
    padding: 20px;
}
#mu-contact .mu-contact-area .mu-contact-content .mu-contact-left .form-group {
  margin-bottom: 10px;
}
#mu-contact .mu-contact-area .mu-contact-content .mu-contact-left .form-group label {
  font-size: 16px;
  margin-bottom: 8px;
  letter-spacing: 0.5px;
}
#mu-contact .mu-contact-area .mu-contact-content .mu-contact-left .mu-contact-form input[type="text"],
#mu-contact .mu-contact-area .mu-contact-content .mu-contact-left .mu-contact-form input[type="password"],
#mu-contact .mu-contact-area .mu-contact-content .mu-contact-left .mu-contact-form input[type="email"] {
  color: #000;    border: 1px solid #eee;
  border-radius: 0;
  height: 48px; background: #f7f7f7;
  box-shadow: none
}
#mu-contact .mu-contact-area .mu-contact-content .mu-contact-left .mu-contact-form input[type="text"]:focus,
#mu-contact .mu-contact-area .mu-contact-content .mu-contact-left .mu-contact-form input[type="password"]:focus,
#mu-contact .mu-contact-area .mu-contact-content .mu-contact-left .mu-contact-form input[type="email"]:focus {
  box-shadow: none;
}
#mu-contact .mu-contact-area .mu-contact-content .mu-contact-left .mu-contact-form textarea {
  color: #000;    border: 1px solid #eee;
  border-radius: 0;
  height: 88px; background: #f7f7f7;
  box-shadow: none
}
#mu-contact .mu-contact-area .mu-contact-content .mu-contact-left .mu-contact-form textarea:focus {
  box-shadow: none;
}
#mu-contact .mu-contact-area .mu-contact-content .mu-contact-right {
  display: inline;
  float: left;
  padding: 0 30px;
  width: 100%;
}
#mu-contact .mu-contact-area .mu-contact-content .mu-contact-right .mu-contact-widget {
  display: inline;
  float: left;
  margin-bottom: 25px;
  width: 100%;
  /*background: rgba(255,255,255,0.85);*/
  text-align: center
}
#mu-contact .mu-contact-area .mu-contact-content .mu-contact-right .mu-contact-widget h3 {
  margin-top: 0px;
}
#mu-contact .mu-contact-area .mu-contact-content .mu-contact-right .mu-contact-widget > p {
  letter-spacing: 0.5px;
  line-height: 26px;
}
#mu-contact .mu-contact-area .mu-contact-content .mu-contact-right .mu-contact-widget address {
  margin-top: 20px;
}
#mu-contact .mu-contact-area .mu-contact-content .mu-contact-right .mu-contact-widget address p {
  letter-spacing: 0.5px;
}
#mu-contact .mu-contact-area .mu-contact-content .mu-contact-right .mu-contact-widget address p i {
  margin-right: 10px;
  width: 20px;
  text-align: center;
}
#mu-contact .mu-contact-area .mu-contact-content .mu-contact-right .mu-contact-widget address p span {
  display: inline-block;
  margin-right: 20px;
  min-width: 130px;
}

.contact-btn{ outline: none}
#contact-dietician, #contact-us{display: none; outline: none}
#addressModal .form-control{
  color: #000;    border: 1px solid #eee;
  border-radius: 0;
  height: 48px; background: #f7f7f7;
  box-shadow: none
}

/*==================
 MAP SECTION
====================*/
#mu-map {
  display: inline;
  float: left;
  height: 450px;
  width: 100%;
}
#mu-map iframe {
  width: 100%;
  height: 100%;
}

/*==================
 BLOG PAGE
====================*/
#mu-blog-banner {
  background-attachment: fixed;
  background-image: url("assets/img/blog-banner.jpg");
  background-position: center center;
  background-size: cover;
  display: inline;
  float: left;
  width: 100%;
  position: relative;
}
#mu-blog-banner:before {
  background-color: rgba(0, 0, 0, 0.6);
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  z-index: 10;
}
#mu-blog-banner .mu-blog-banner-area {
  display: inline;
  float: left;
  min-height: 350px;
  padding: 12% 0;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 99;
}
#mu-blog-banner .mu-blog-banner-area h2 {
  color: #fff;
}
#mu-blog-banner .mu-blog-banner-area .breadcrumb {
  background-color: transparent;
  border-radius: 0;
  margin-bottom: 0px;
}
#mu-blog-banner .mu-blog-banner-area .breadcrumb li a {
  color: #fff;
}

#mu-blog {
  background-color: #f8f8f8;
  display: inline;
  float: left;
  padding: 50px 0;
  width: 100%;
}
#mu-blog .mu-blog-area {
  display: inline;
  float: left;
  width: 100%;
}
#mu-blog .mu-blog-area .mu-blog-content {
  display: inline;
  float: left;
  width: 100%;
}
#mu-blog .mu-blog-area .mu-blog-content .mu-news-single {
  margin-bottom: 30px;
}
#mu-blog .mu-blog-area .mu-blog-pagination-area {
  display: inline;
  float: left;
  width: 100%;
}
#mu-blog .mu-blog-area .mu-blog-pagination-area .mu-blog-pagination {
  display: inline-block;
  text-align: left;
}
#mu-blog .mu-blog-area .mu-blog-pagination-area .mu-blog-pagination li {
  display: inline-block;
}
#mu-blog .mu-blog-area .mu-blog-pagination-area .mu-blog-pagination li:first-child a {
  border: 1px solid #ccc;
}
#mu-blog .mu-blog-area .mu-blog-pagination-area .mu-blog-pagination li:first-child a:hover, #mu-blog .mu-blog-area .mu-blog-pagination-area .mu-blog-pagination li:first-child a:focus {
  background-color: #FFF;
}
#mu-blog .mu-blog-area .mu-blog-pagination-area .mu-blog-pagination li:last-child a {
  border: 1px solid #ccc;
}
#mu-blog .mu-blog-area .mu-blog-pagination-area .mu-blog-pagination li:last-child a:hover, #mu-blog .mu-blog-area .mu-blog-pagination-area .mu-blog-pagination li:last-child a:focus {
  background-color: #FFF;
}
#mu-blog .mu-blog-area .mu-blog-pagination-area .mu-blog-pagination li a {
  display: inline-block;
  padding: 5px 10px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#mu-blog .mu-blog-area .mu-blog-sidebar {
  display: inline;
  float: left;
  width: 100%;
}
#mu-blog .mu-blog-area .mu-blog-sidebar .mu-blog-sidebar-single {
  background-color: #fff;
  border: 1px solid #ccc;
  display: inline;
  float: left;
  margin-bottom: 30px;
  padding: 10px 20px 20px;
  width: 100%;
}
#mu-blog .mu-blog-area .mu-blog-sidebar .mu-blog-sidebar-single h3 {
  margin-bottom: 20px;
  position: relative;
}
#mu-blog .mu-blog-area .mu-blog-sidebar .mu-blog-sidebar-single h3:after {
  bottom: -10px;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  width: 100px;
}
#mu-blog .mu-blog-area .mu-blog-sidebar .mu-blog-sidebar-single .mu-catg-nav > li {
  border-bottom: 1px dashed #ccc;
  color: #555;
}
#mu-blog .mu-blog-area .mu-blog-sidebar .mu-blog-sidebar-single .mu-catg-nav > li:last-child {
  border-bottom: none;
}
#mu-blog .mu-blog-area .mu-blog-sidebar .mu-blog-sidebar-single .mu-catg-nav > li a {
  color: #000;
  letter-spacing: 0.5px;
  display: block;
  padding: 10px 5px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#mu-blog .mu-blog-area .mu-blog-sidebar .mu-blog-sidebar-single .mu-recent-news-nav li {
  border-bottom: 1px solid #ccc;
}
#mu-blog .mu-blog-area .mu-blog-sidebar .mu-blog-sidebar-single .mu-recent-news-nav li:last-child {
  border-bottom: none;
}
#mu-blog .mu-blog-area .mu-blog-sidebar .mu-blog-sidebar-single .mu-recent-news-nav li a {
  color: #000;
  letter-spacing: 0.5px;
  display: inline-block;
  line-height: 20px;
  padding: 10px 0;
}
#mu-blog .mu-blog-area .mu-blog-sidebar .mu-blog-sidebar-single .tag-cloud {
  display: inline;
  float: left;
  width: 100%;
  margin-top: 15px;
}
#mu-blog .mu-blog-area .mu-blog-sidebar .mu-blog-sidebar-single .tag-cloud a {
  color: #000;
  display: inline-block;
  letter-spacing: 0.5px;
  margin-bottom: 5px;
  padding: 5px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#mu-blog .mu-blog-area .mu-blog-sidebar .mu-blog-sidebar-single .mu-sidebar-add {
  display: block;
  margin-top: 10px;
}
#mu-blog .mu-blog-area .mu-blog-sidebar .mu-blog-sidebar-single .mu-sidebar-add img {
  max-width: 100%;
}

.mu-blog-details .mu-news-single > h2 {
  font-size: 28px;
  padding: 15px 20px;
}
.mu-blog-details .mu-news-single > h2 a {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.mu-blog-details .mu-news-single .mu-news-single-content .mu-meta-nav {
  margin-left: 0;
}
.mu-blog-details .mu-news-single .mu-news-single-content .mu-meta-nav li {
  margin-bottom: 0;
}
.mu-blog-details .mu-news-single .mu-news-single-content h3 {
  text-align: left;
  padding: 0;
}
.mu-blog-details .mu-news-single .mu-news-single-content p {
  text-align: left;
}
.mu-blog-details .mu-news-single .mu-news-single-content blockquote {
  background-color: #F8F8F8;
  margin-top: 20px;
  padding: 20px 25px;
}
.mu-blog-details .mu-news-single .mu-news-single-content blockquote p {
  letter-spacing: 0.5px;
}
.mu-blog-details .mu-news-single .mu-news-single-content blockquote cite {
  font-style: normal;
  font-size: 14px;
}
.mu-blog-details .mu-news-single .mu-news-single-content ul {
  margin-left: 25px;
}
.mu-blog-details .mu-news-single .mu-news-single-content ul li {
  letter-spacing: 0.5px;
  line-height: 24px;
  list-style: outside none disc;
  margin-bottom: 5px;
}
.mu-blog-details .mu-news-single .mu-news-single-bottom {
  display: inline;
  float: left;
  padding: 0 0 25px;
  width: 100%;
}
.mu-blog-details .mu-news-single .mu-news-single-bottom .mu-news-single-tag {
  display: inline;
  float: left;
  width: 100%;
}
.mu-blog-details .mu-news-single .mu-news-single-bottom .mu-news-single-tag .mu-news-single-tagnav {
  display: inline-block;
}
.mu-blog-details .mu-news-single .mu-news-single-bottom .mu-news-single-tag .mu-news-single-tagnav li {
  display: inline-block;
}
.mu-blog-details .mu-news-single .mu-news-single-bottom .mu-news-single-tag .mu-news-single-tagnav li:first-child {
  font-size: 16px;
}
.mu-blog-details .mu-news-single .mu-news-single-bottom .mu-news-single-tag .mu-news-single-tagnav li a {
  display: inline-block;
  padding: 5px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.mu-blog-details .mu-news-single .mu-news-single-bottom .mu-news-single-social {
  display: inline;
  float: left;
  width: 100%;
}
.mu-blog-details .mu-news-single .mu-news-single-bottom .mu-news-single-social .mu-news-single-socialnav {
  display: inline-block;
}
.mu-blog-details .mu-news-single .mu-news-single-bottom .mu-news-single-social .mu-news-single-socialnav li {
  display: inline-block;
}
.mu-blog-details .mu-news-single .mu-news-single-bottom .mu-news-single-social .mu-news-single-socialnav li:first-child {
  font-size: 16px;
}
.mu-blog-details .mu-news-single .mu-news-single-bottom .mu-news-single-social .mu-news-single-socialnav li a {
  color: #888;
  display: inline-block;
  padding: 5px 8px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.mu-blog-single-navigation {
  display: inline;
  float: left;
  margin-bottom: 30px;
  padding: 20px 0;
  width: 100%;
}
.mu-blog-single-navigation a {
  border: 1px solid #ccc;
  color: #ccc;
  display: inline-block;
  font-size: 25px;
  font-weight: normal;
  padding: 10px 20px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.mu-blog-single-navigation a:hover, .mu-blog-single-navigation a:focus {
  background-color: #fff;
}
.mu-blog-single-navigation .mu-blog-prev {
  float: left;
}
.mu-blog-single-navigation .mu-blog-next {
  float: right;
}

.mu-blog-related-post {
  display: inline;
  float: left;
  width: 100%;
}
.mu-blog-related-post .mu-blog-related-post-area {
  display: inline;
  float: left;
  width: 100%;
}

.mu-comments-area {
  display: inline;
  float: left;
  width: 100%;
  margin-top: 20px;
}
.mu-comments-area h3 {
  background-color: #ddd;
  margin-bottom: 20px;
  padding: 20px;
}
.mu-comments-area .comments {
  float: left;
  display: inline;
  margin-top: 20px;
  width: 100%;
}
.mu-comments-area .comments .commentlist li {
  border: 1px solid #ddd;
  display: inline;
  float: left;
  margin-bottom: 30px;
  padding: 10px;
  position: relative;
  width: 100%;
}
.mu-comments-area .comments .commentlist li .news-img {
  background-color: #ccc;
  height: 90px;
  margin-right: 20px;
  width: 90px;
}
.mu-comments-area .comments .commentlist li .media-body p {
  margin-bottom: 0px;
}
.mu-comments-area .comments .commentlist li .media-body .author-name {
  margin-bottom: 0px;
  margin-top: 0;
}
.mu-comments-area .comments .commentlist li .comments-date {
  display: block;
  font-size: 12px;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
  margin-top: 5px;
}
.mu-comments-area .comments .commentlist li .reply-btn {
  color: #fff;
  display: inline-block;
  font-size: 15px;
  line-height: 13px;
  padding: 8px 15px;
  position: absolute;
  right: 10px;
  top: 10px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.mu-comments-area .comments .commentlist li .reply-btn:hover, .mu-comments-area .comments .commentlist li .reply-btn:focus {
  text-decoration: none;
  outline: none;
}
.mu-comments-area .comments .commentlist li .children {
  margin-left: 50px;
}
.mu-comments-area .comments .commentlist li .author-tag {
  background-color: #888;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 5px;
  padding: 4px 8px;
}
.mu-comments-area .comments .commentlist li .author-comments {
  background-color: #f8f8f8;
}
.mu-comments-area .comments .commentlist .children {
  margin-left: 25px;
}
.mu-comments-area .comments .comments-pagination {
  display: inline-block;
  text-align: left;
}
.mu-comments-area .comments .comments-pagination li {
  display: inline-block;
}
.mu-comments-area .comments .comments-pagination li a {
  background-color: transparent;
  border: medium none;
  color: #555;
  display: inline-block;
  font-size: 15px;
  height: 25px;
  line-height: 15px;
  padding: 5px;
  text-align: center;
  width: 25px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.mu-comments-area .comments .comments-pagination li a:hover, .mu-comments-area .comments .comments-pagination li a:focus {
  background-color: transparent;
  text-decoration: none;
  outline: none;
}
.mu-comments-area .comments .commentlist > li:last-child {
  margin-bottom: 0px;
}

#respond {
  display: inline;
  float: left;
  margin-top: 25px;
  width: 100%;
}
#respond .reply-title {
  font-size: 25px;
  margin-top: 0;
}
#respond .comment-notes {
  font-size: 15px;
  margin-bottom: 25px;
}
#respond .required {
  color: red;
}
#respond label {
  display: block;
}
#respond input[type="text"],
#respond input[type="email"],
#respond input[type="url"] {
  border: 1px solid #ccc;
  color: #555;
  margin-bottom: 10px;
  height: 35px;
  padding: 5px;
  width: 65%;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#respond textarea {
  border: 1px solid #ccc;
  color: #555;
  margin-bottom: 5px;
  padding: 10px;
  height: 200px;
  width: 100%;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

/*==================
 ERROR  PAGE
====================*/
#mu-error {
  background-color: #F8F8F8;
  display: inline;
  float: left;
  width: 100%;
  padding: 50px 0;
}
#mu-error .mu-error-area {
  display: inline;
  float: left;
  margin-top: 50px;
  padding: 50px 100px 130px;
  text-align: center;
  width: 100%;
}
#mu-error .mu-error-area h2 {
  color: #333;
  display: inline-block;
  font-size: 150px;
  line-height: 150px;
  margin-bottom: 30px;
  padding: 10px 20px;
  position: relative;
  text-shadow: 0 2px 2px #333;
}
#mu-error .mu-error-area h2:before {
  background-color: #555;
  bottom: 0;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  right: 0;
  width: 100%;
}
#mu-error .mu-error-area p {
  font-size: 18px;
  padding: 0 150px;
}
#mu-error .mu-error-area a {
  margin-top: 30px;
}

/*==================
 FOOTER SECTION
====================*/
.footer-logo img{height: 57px}
.footer-inline-nav {margin-left: 20px}
.footer-inline-nav li{display: inline-block; padding-right: 15px}
.footer-inline-nav li a{display: block; color:rgba(255,255,255,0.4)}
.footer-inline-nav li a:hover{display: block; color:rgba(255,255,255,0.8)}
.footer-app {text-align: right}
.footer-app a{display: inline-block}
.footer-app p{color:#fff; opacity: 0.5; margin-bottom: 4px}
.footer-app a img{height: 38px;}

#mu-footer {
  background-color: #444;
  display: inline;
  float: left;
  padding: 20px 0;
  width: 100%;
}
#mu-footer .mu-footer-area {
  display: inline;
  float: left;
  width: 100%;
 margin-left: 20px
}
#mu-footer .mu-footer-area .mu-footer-social {
  display: inline;
  float: left;
  width: 100%;

}
#mu-footer .mu-footer-area .mu-footer-social a:first-of-type {margin-left: 0}
#mu-footer .mu-footer-area .mu-footer-social a {
  background-color: #555;
  color: #fff;
  display: inline-block;
  font-size:12px;
  height: 30px;
  line-height: 22px;
  margin: 5px;
  padding: 5px;
  text-align: center;
  width: 30px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#mu-footer .mu-footer-area .mu-footer-copyright {
  display: inline;
  float: left;
  width: 100%;
}
#mu-footer .mu-footer-area .mu-footer-copyright p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: #fff;
}
#mu-footer .mu-footer-area .mu-footer-copyright p a {
  color: #fff;
}

/* MAKE YOUR OWN */
.selection-category-wrapper{   box-shadow: 0 2px 2px rgba(140, 142, 154, 0.4), 0 0 20px rgba(221, 221, 228, 0.4); background: #fff; margin-bottom: 0px }
.selection-category-wrapper ul {}
.selection-category-wrapper ul li{display: inline-block}
.selection-category-wrapper ul li a{text-align: right; display: block; padding: 12px 20px; font-size: 16px}
.selection-category-wrapper ul li a:hover{color:#92cc34}
.selection-category-wrapper ul li a.active{ font-weight: 700; color:#92cc34}

.contact-btn{    font-weight: 600;
    transition: all 0.3s ease;
    margin: 10px 5px;
    text-transform: uppercase;
    border-radius: 100px;
    padding: 10px 25px;
    background-color: #00BDD0;
    color: #fff;
    border-color: #00BDD0;
    display: inline-block; box-shadow: none; border:0}

.contact-btn.b{background-color: #92cc34;}
.contact-btn:hover{opacity: 0.7}

.menus{padding: 30px 25px; margin: 0; box-shadow: 0 2px 2px rgba(140, 142, 154, 0.4), 0 0 20px rgba(221, 221, 228, 0.4); background: #fff;}
.media{ margin-bottom: 30px;box-shadow: 3px 3px 15px rgba(0,0,0,0.1); position: relative; overflow: hidden; margin: 0 15px 40px 15px}
.media .media-img{width: 100%; height: 312px; overflow: hidden; background: #def1f5}
.media .media-img > img{object-fit: cover; height: 100%;  width: 100%; transition: all 0.3s ease; min-height: 312px}
.media:hover .media-img > img{transform: scale(1.2)}
.media .media-body {position: relative; padding: 20px; text-align: left; }
.media:hover .media-body{bottom: 0; cursor: pointer}

.media .media-body .media-heading{ font-size: 18px; text-overflow: ellipsis;white-space: nowrap; width: 180px; overflow: hidden; text-align: left; font-weight: 600; margin-top: 0px; color:#92cc34; font-family: 'Montserrat', sans-serif;}
.media .media-body .media-category{font-size: 13px; text-align: left; font-weight: 400; margin-top: 5px; color:rgba(0,0,0,0.4)}
.media .media-body .media-price{font-weight: 600; color:#92cc34; position: absolute;top: 18px; right: 10px;}

.media .media-body .media-heading{font-size: 18px; text-align: left; font-weight: 600; margin-top: 0px; color:#92cc34; font-family: 'Montserrat', sans-serif;}
.media .media-body .media-category{font-size: 13px; text-align: left; font-weight: 400; margin-top: 5px; color:rgba(0,0,0,0.4)}
.media .media-body .media-price{ font-weight: 600; color:#92cc34; }

.media .media-body .media-add{border:1px solid #ccc; font-size: 13px; color:#fff; letter-spacing: 1px; font-weight: 700; background: #92cc34; float: right; padding: 4px 20px }
.media .media-body .media-add:hover{border:1px solid #92cc34; color:#fff; background: #92cc34; padding: 4px 20px }
.mu-ingredients{font-size: 14px; text-align:left; color:#444; border-bottom: 1px solid rgba(0,0,0,0.1); padding-bottom: 10px; margin-bottom: 10px; min-height: 65px; max-height: 65px; overflow: hidden; text-overflow: ellipsis}
.mu-menu-price, .mu-menu-energy{color:#444; font-weight: 600}

.menu-tags a{font-weight: 600; transition: all 0.3s ease; margin: 10px 5px; text-transform: uppercase; border-radius: 100px; padding: 10px 25px; background-color: #00BDD0; color:#fff; border-color: #00BDD0; display: inline-block}
.menu-tags a:hover{background-color: #92cc34; color:#fff; border-color: #92cc34; }
.menu-tags a.active{background-color: #92cc34; color:#fff; border-color: #92cc34; }

.menu-wrapper.on{display: block !important}
.menu-wrapper.off{display: none !important}

.bag{ border:1px solid #eee;background-color: #fff}
.bag .bag-heading {padding: 0 15px}
.bag .bag-footer {padding: 10px 15px 0px; background-color: #fff}
.bag .bag-body { overflow-y: auto; background: #fff; padding: 5px 0}
.bag .bag-heading h4{font-weight: 600; color:#111}
.bag .bag-heading p{font-weight: 400; font-size: 13px; color: #888}
.bag-item {     border: 1px solid #eee;  font-size: 13px;  margin: 10px 10px;}
.bag-item-group {display: flex; background: #f5f5f5; width: 100%; padding: 5px 10px}
.bag-item-addons {display: flex;  width: 100%; padding: 0px 10px}
.bag-item .bi-img {width: 40px; overflow: hidden}
.bag-item .bi-img img{height: 30px;}
.bag-item .bi-title{padding-left: 10px; line-height: 28px; padding-right: 10px; white-space: nowrap; overflow: hidden;  text-overflow: ellipsis;  width: 120px; }
.bag-item-addons .bi-title{padding-left: 0}
.bag-item .bi-price{text-align: right; padding-left: 15px; padding-top: 0px; line-height: 28px }
.bag-item .bi-qty { line-height: 28px; width: 50px}
.bag-item .bi-qty input{width: 30px}
.bag-item .bi-remove{color:red; font-size: 16px; margin-left: 25px; line-height: 28px}
.bag-item .bi-remove:hover{color:red; opacity: 0.6; cursor: pointer}
.bag .bag-footer .bag-price-title{font-weight: 700; font-size: 14px; color:#555}
.bag .bag-footer .bag-price{font-weight: 700; font-size: 14px; float: right; color:#92cc34}
.bag .bag-footer small{color:#888}
.btn-checkout{background-color: #92cc34; display: block; width: 100%; font-weight: 800;text-transform: uppercase;color: #fff; border: 1px solid #92cc34; font-size: 14px; padding: 10px 15px !important; border-radius: 0px; text-align: center;}
.btn-checkout i{margin-left: 15px}
.btn-checkout:hover{background-color: #60b246; color: #fff; border: 1px solid #60b246; border-radius: 0px; text-align: center;}
.btn-change-title{position: absolute; right: 15px; top:11px; background:transparent; border:1px solid #ccc; color:#ccc; padding:2px 10px; font-size: 13px;}
.btn-change-title-done{position: absolute; right: 15px; top:11px; background:transparent; border:1px solid #ccc; padding:2px 10px; font-size: 13px;}
.btn-change-title:hover{background:#60b246; border:1px solid #60b246; color:#fff}
.btn-change-title-done:hover{background:#60b246; border:1px solid #60b246; color:#fff}
.btn-change-title-done{display: none}
.bag-title-input{display: none; margin-top: 10px}
#sub, #add{    background: transparent;  border: 0; font-size: 14px; font-weight: 600; color: #555; padding: 5px}

.edit-buton{background:transparent;color:#60b246; font-size: 15px;  padding: 2px 10px; }

.btn-change-title-salad{ background:transparent; border:1px solid #ccc; color:#ccc; padding:2px 10px; font-size: 13px;}
.btn-change-title-done-salad{ background:transparent; border:1px solid #ccc; padding:2px 10px; font-size: 13px;}
.btn-change-title-salad:hover{background:#60b246; border:1px solid #60b246; color:#fff}
.btn-change-title-done-salad:hover{background:#60b246; border:1px solid #60b246; color:#fff}
.btn-change-title-done-salad{display: none}
.salad-title-input{display: none; margin-top: 10px}

.btn-primary{background: #92cc34; color:#fff; border:#92cc34}
.btn-primary:hover{background: #60b246; color:#fff}
.modal{font-size: 13px}

.slick-dots li button:before{font-size: 36px}
.slick-dots{bottom:4px}

#menu-ingredients{display: none}
#menu-extras{display: none}
#menu-dressings{display: none}

.anim-updown{animation: MoveUpDown 5s linear infinite;-webkit-animation: MoveUpDown 5s linear infinite;}
.anim-downup{animation: MoveDownUp 5s linear infinite;-webkit-animation: MoveUpDown 5s linear infinite;}
.anim-updown-slight{animation: SlightUpDown 5s linear infinite;-webkit-animation: SlightUpDown 5s linear infinite;}
.anim-downup-slight{animation: SlightDownUp 5s linear infinite;-webkit-animation: SlightDownUp 5s linear infinite;}
@keyframes MoveUpDown {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: -50px;
  }
  100% {
    margin-top: 0;
  }
}
@keyframes MoveDownUp {
  0% {
    margin-bottom: 0;
  }
  50% {
    margin-bottom: -50px;
  }
  100% {
    margin-bottom: 0;
  }
}
@keyframes SlightUpDown {
  0% {
    margin-bottom: 0;
  }
  50% {
    margin-bottom: -20px;
  }
  100% {
    margin-bottom: 0;
  }
}
@keyframes SlightDownUp {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: -20px;
  }
  100% {
    margin-top: 0;
  }
}


/*==================
 RESPONSIVE DESIGN
====================*/
@media (max-width: 1199px) {
  .mu-main-navbar .mu-main-nav li a {
    padding-left: 10px;
    padding-right: 10px;
  }

  #mu-slider .mu-slider-area .mu-top-slider .mu-top-slider-single img {

  }

  #mu-subscription .mu-subscription-area {
    padding: 0 50px;
  }

  #mu-chef .mu-chef-area .mu-chef-content .mu-chef-nav .slick-list li .mu-single-chef .mu-single-chef-social {
    padding: 23px 10px;
  }

  #mu-blog-banner .mu-blog-banner-area {
    min-height: 300px;
  }
}
@media (max-width: 1060px) {
  .mu-main-navbar .navbar-header .navbar-brand {
    height: 40px;
    width: 115px;
    margin-top: 10px;
  }
}

@media (max-width: 991px) {
  .mu-main-navbar .mu-main-nav li a {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14px;
  }
  .mu-main-navbar .mu-main-nav {
    font-family: "Open Sans", sans-serif;
     margin-left: 0px;
  }

  .mu-main-navbar .navbar-header .navbar-brand {
    height: 35px;
    width: 115px;
    margin-top: 10px;
  }

  .mu-main-navbar .navbar-header .navbar-brand-small {
    height: 25px;
    margin-top: 13px;
    width: 110px;
  }

  .mu-abtus-slider .slick-slide img {
    display: block;
    width: 100%;
  }

  #mu-subscription .mu-subscription-area {
    padding: 0 5%;
  }

  #mu-subscription .mu-subscription-area .mu-subscription-form input[type="text"] {
    width: 70%;
  }

  #mu-contact .mu-contact-area .mu-contact-content .mu-contact-right {
    margin-top: 50px;
    padding: 0;
  }

  #mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-body .mu-single-gallery .mu-single-gallery-item .mu-single-gallery-img {
    height: 200px;
  }

  #mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-body .mu-single-gallery .mu-single-gallery-item .mu-single-gallery-info {
    padding-top: 32.3%;
  }

  #mu-client-testimonial .mu-client-testimonial-area .mu-testimonial-content .mu-testimonial-slider li .mu-testimonial-single {
    padding: 0 60px;
  }

  #mu-client-testimonial .mu-client-testimonial-area .mu-testimonial-content .mu-testimonial-slider li .mu-testimonial-single .mu-testimonial-info p::before {
    top: 40%;
  }

  #mu-latest-news .mu-latest-news-area .mu-latest-news-content .mu-news-single {
    margin-top: 25px;
  }

  #mu-counter .mu-counter-overlay .mu-counter-area .mu-counter-nav li .mu-single-counter p {
    font-size: 15px;
  }

  #mu-blog-banner .mu-blog-banner-area {
    min-height: 250px;
  }

  #mu-error .mu-error-area p {
    padding: 0 30px;
  }

  #mu-error .mu-error-area {
    margin-top: 0;
    padding: 50px 100px 80px;
  }
}
@media (max-width: 767px) {
  .navbar-default .navbar-toggle {
    border-color: #fff;
    border-radius: 0px;
  }

  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #fff;
  }

  .mu-main-navbar .mu-main-nav {
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    background-color: #fff;
  }

  #mu-counter .mu-counter-overlay .mu-counter-area .mu-counter-nav li {
    margin-top: 10px;
    margin-bottom: 10px;
    border-right: none;
  }

  #mu-blog-banner .mu-blog-banner-area {
    min-height: 275px;
  }

  #mu-blog .mu-blog-area .mu-blog-sidebar {
    margin-top: 50px;
  }

  #mu-blog .mu-blog-area .mu-blog-sidebar .mu-blog-sidebar-single .mu-sidebar-add img {
    width: 100%;
  }
}
.mb-20
{
  margin-bottom: 30px;
}
@media (max-width: 640px) {
  .video-iframe .content
  {
    width: 300px;
  }
  .navbar-default .navbar-toggle {
    border-color: #fff;
    border-radius: 0px;
  }

  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #fff;
  }

  #mu-slider .mu-slider-area .mu-top-slider .mu-top-slider-single .mu-top-slider-content .mu-slider-title {
    font-size: 50px;
    line-height: 75px;
  }

  .mu-main-navbar .mu-main-nav {
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
  }

  .mu-main-navbar .mu-main-nav li a {
    font-size: 18px;
  }

  #mu-reservation .mu-reservation-area .mu-reservation-content {
    padding: 0 50px;
  }

  #mu-restaurant-menu .mu-restaurant-menu-area .mu-restaurant-menu-content .mu-restaurant-menu li a {
    font-size: 16px;
    margin: 0 5px;
  }

  #mu-reservation .mu-reservation-area .mu-reservation-content p {
    padding: 0;
  }

  #mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-top ul li {
    margin: 0 5px;
  }

  #mu-subscription .mu-subscription-area .mu-subscription-form input[type="text"] {
    width: 65%;
  }

  #mu-subscription .mu-subscription-area .mu-subscription-form .mu-readmore-btn {
    width: 30%;
  }

  #mu-chef .mu-chef-area .mu-chef-content .mu-chef-nav .slick-list li .mu-single-chef .mu-single-chef-social a {
    margin: 0 3px;
    padding: 3px 0;
    width: 30px;
  }

  #mu-blog-banner .mu-blog-banner-area {
    min-height: 220px;
  }
}
@media (max-width: 480px) {
  #mu-slider .mu-slider-area .mu-top-slider .mu-top-slider-single .mu-top-slider-content {
    left: 5%;
    right: 5%;
    top: 15%;
  }

  #mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-body .mu-single-gallery {
    width: 50%;
  }

  #mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-body .mu-single-gallery .mu-single-gallery-item .mu-single-gallery-info {
    padding-top: 35.5%;
  }

  #mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-top ul li {
    margin-bottom: 10px;
  }

  #mu-slider .mu-slider-area .mu-top-slider .mu-top-slider-single img {
    width: 100%;
  }

  #mu-slider .mu-slider-area .mu-top-slider .mu-top-slider-single .mu-top-slider-content {
    display: none;
  }

  #mu-slider .mu-slider-area .mu-top-slider .slick-prev, #mu-slider .mu-slider-area .mu-top-slider .slick-next {
    opacity: 0;
  }

  #mu-restaurant-menu .mu-restaurant-menu-area .mu-restaurant-menu-content .mu-restaurant-menu li a {
    font-size: 14px;
    margin: 0 2px;
  }

  .mu-title {
    margin-bottom: 0;
  }

  #mu-client-testimonial .mu-client-testimonial-area .mu-testimonial-content .mu-testimonial-slider li .mu-testimonial-single {
    padding: 0;
  }

  #mu-subscription .mu-subscription-area .mu-subscription-form input[type="text"] {
    width: 100%;
    margin-bottom: 20px;
  }

  #mu-subscription .mu-subscription-area {
    padding: 0;
    text-align: center;
  }

  #mu-subscription .mu-subscription-area .mu-subscription-form .mu-readmore-btn {
    width: auto;
  }

  #mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-body .mu-single-gallery {
    width: 100%;
  }

  #mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-body .mu-single-gallery .mu-single-gallery-item .mu-single-gallery-info {
    padding-top: 15.5%;
  }

  #mu-blog-banner .mu-blog-banner-area {
    min-height: 150px;
  }

  .mu-news-single h3 {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 20px;
  }

  #mu-blog .mu-blog-area .mu-blog-pagination-area {
    text-align: center;
  }

  .mu-blog-details .mu-news-single > h2 {
    font-size: 20px;
    padding: 15px 15px;
    line-height: 30px;
  }

  #respond input[type="text"], #respond input[type="email"], #respond input[type="url"] {
    width: 100%;
  }

  #mu-error .mu-error-area {
    padding: 30px 20px 60px;
  }

  #mu-error .mu-error-area p {
    padding: 0;
    font-size: 16px;
  }

  #mu-error .mu-error-area h2 {
    font-size: 130px;
    line-height: 130px;
  }

  #mu-map {
    height: 350px;
  }

  #mu-restaurant-menu .mu-restaurant-menu-area .mu-restaurant-menu-content .mu-restaurant-menu li {
    margin-bottom: 10px;
  }
  .mu-blog-related-post .mu-blog-related-post-area {   
    margin-top: 30px;   
  }
}
@media (max-width: 360px) {
  #mu-restaurant-menu .mu-restaurant-menu-area .mu-restaurant-menu-content .mu-restaurant-menu li {
    margin-bottom: 12px;
  }

  #mu-about-us {
    padding: 100px 0 50px;
  }

  #mu-restaurant-menu {
    padding-bottom: 0px;
  }

  #mu-reservation .mu-reservation-area .mu-reservation-content {
    padding: 0;
  }

  .mu-title h2 {
    font-size: 28px;
  }

  #mu-client-testimonial .mu-client-testimonial-area .mu-testimonial-content .mu-testimonial-slider li .mu-testimonial-single .mu-testimonial-info p {
    font-size: 16px;
    line-height: 24px;
  }

  #mu-latest-news .mu-latest-news-area .mu-latest-news-content .mu-news-single h3 {
    line-height: 24px;
    margin-bottom: 20px;
    padding: 0 5px;
    font-size: 18px;
  }

  #mu-latest-news .mu-latest-news-area .mu-latest-news-content .mu-news-single .mu-news-single-content .mu-meta-nav li {
    padding: 0 5px;
  }

  #mu-contact .mu-contact-area .mu-contact-content .mu-contact-right {
    text-align: center;
  }

  #mu-contact .mu-contact-area .mu-contact-content .mu-contact-right .mu-contact-widget address {
    text-align: left;
  }

  #mu-contact {
    padding: 100px 0 50px;
  }

  #mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-body .mu-single-gallery .mu-single-gallery-item .mu-single-gallery-info {
    padding-top: 22.5%;
  }

  #mu-footer .mu-footer-area .mu-footer-social a {
    font-size: 18px;
    margin: 5px;
    padding: 5px;
    width: 40px;
  }

  .mu-news-single h3 {
    font-size: 18px;
    line-height: 22px;
    padding: 0 10px;
  }

  .mu-comments-area .comments .commentlist li .reply-btn {
    font-size: 12px;
    line-height: 12px;
    padding: 5px 10px;
    right: 8px;
    top: 8px;
  }

  .mu-comments-area .comments .commentlist .children {
    margin-left: 0;
  }

  .media-left, .media > .pull-left {
    padding-right: 0;
  }

  .mu-comments-area .comments .commentlist li .news-img {
    margin-right: 10px;
  }

  .mu-comments-area .comments .commentlist li .media-body p {
    font-size: 14px;
  }

  #mu-blog-banner .mu-blog-banner-area {
    padding: 20% 0;
  }

  #mu-error .mu-error-area h2 {
    font-size: 80px;
    line-height: 80px;
  }

  #mu-error .mu-error-area p {
    font-size: 14px;
  }

  #mu-error .mu-error-area {
    padding: 0 15px 30px;
  }

  #mu-restaurant-menu .mu-restaurant-menu-area .mu-restaurant-menu-content .mu-tab-content-area .mu-menu-item-nav li .media .media-left {
    height: 100px;
    width: 100px;
    margin-right: 10px;
    float: left;
  }

  #mu-restaurant-menu .mu-restaurant-menu-area .mu-restaurant-menu-content .mu-tab-content-area .mu-menu-item-nav li .media .media-left a img {
    height: 100%;
    width: 100%;
  }

  #mu-map {
    height: 250px;
  }
}
@media (max-width: 320px) {
  #mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-body .mu-single-gallery .mu-single-gallery-item .mu-single-gallery-info {
    padding-top: 25.5%;
  }

  #mu-blog-banner .mu-blog-banner-area {
    padding: 25% 0;
  }
  .mu-news-single .mu-news-single-content .mu-meta-nav li {   
    border-right: none;
  }
}


.tnc{background: #fff; width: 100%; padding: 40px 45px; margin-bottom: 10px}
    .tnc .org-logo{text-align: center}
    .tnc .org-logo > img{ margin-bottom: 20px}
    .tnc h1{text-align: center; font-size: 24px;}
    .tnc .tnc-category{font-size: 16px; color: #333; margin-top: 60px; display: block}
    .tnc .tnc-subcategory{font-size: 14px;  color: #333; margin-top: 20px; display: block}
    .tnc p {font-size: 14px;  color: #333; margin-top: 20px; line-height: 24px}
    .tnc p.uppercase{text-transform: uppercase}
    .uppercase{text-transform: uppercase}
    .tnc p.lowercase{text-transform: lowercase}
    .lowercase{text-transform: lowercase}
    .tnc capitalcase{text-transform: capitalize}
    .tnc p.bold{font-weight: bold}
    .tnc ul{margin-top: 20px; list-style: disc; list-style-position: outside; padding-left: 0 }
    .tnc ul li{margin-top: 20px; line-height: 24px; margin-left: 20px; font-size: 14px}

    
    .lu-image{background: #92cc34; padding: 25px; text-align: center; font-weight: 600; color:#fff; font-size: 24px}
    .lu-image h6{text-align: center; font-weight: 600; color:#fff; font-size: 24px}
    
    .lu-detail{background: #fff; padding-top: 15px}
    .lu-detail ul li {padding: 8px 15px}
    .lu-detail ul li small{display: block; color:#c5c5c5; text-transform: uppercase; font-size:12px; font-weight: 700; margin-bottom: 5px}
    .lu-detail ul li p{color:#46616e;font-size:14px;}
    
    .custom-tabs .nav-tabs{background: #fff}
    .custom-tabs .nav-tabs {border:0; padding: 0 10px}
    .custom-tabs .nav-tabs > li > a{border:0;font-weight: 600;transition: all 0.3s ease; margin: 10px 5px; text-transform: uppercase; border-radius: 100px; padding: 10px 25px; background-color: #f5f5f5; color: #ccc; border: 0;display: inline-block;}
    .custom-tabs .nav-tabs > li > a:hover{background-color: #f1f1f1; color: #aaa; border-color: #f1f1f1; }
    .custom-tabs .nav-tabs > li.active > a{background-color: #92cc34; color: #fff; border-color: #92cc34; border:0}
    .custom-tabs .nav-tabs > li.active > a:hover{border:0}
    .custom-tabs .tab-content{background: #fff}
    .custom-tabs .form-control{color: #000; border: 1px solid #eee;  border-radius: 0;  height: 48px;  background: #f7f7f7; box-shadow: none;}
    #loginModal .form-control{color: #000; border: 1px solid #eee;  border-radius: 0;  height: 48px;  background: #f7f7f7; box-shadow: none;}
    .custom-tabs .btn-primary{border-radius: 0; padding: 8px 15px; text-transform: uppercase; font-weight: 600}
    .custom-tabs .section-title{display: block; color:#c5c5c5; text-transform: uppercase; font-size:14px; font-weight: 700; margin-bottom: 20px}
    .green{color:#92cc34}
    
    .shipping-address{background: #f9f9f9; margin-bottom: 20px; padding: 15px}
    .order-media {display:flex; border:1px solid #eee; margin-bottom: 0px; position: relative}
    .order-media .o-img img{height: 120px; width: 120px}
    .order-media .o-info{padding: 0 15px; position: relative; width: 100%}
    .order-media .o-info h4{font-weight: 600; text-transform: uppercase}
    .order-media .o-info p{font-size: 12px}
    .order-media .o-info .price{color:#92cc34; font-weight: 700; position: absolute; bottom:10px; right: 15px}
    .order-media .delete-item{position: absolute; z-index: 10; right:5px; top:5px; opacity: 0.5}
    .order-media .delete-item:hover{opacity: 1}
    .order-charges table tr th{text-align: right}
    .order-addons {border:1px solid #eee; margin-bottom: 20px; padding-bottom: 5px; height: 128px; overflow-y: auto}
    .order-addons h5{padding: 4px 15px}
    .order-addons table{width: 100%}
    .order-addons table tr td{font-size: 13px; color:#666; padding: 4px 10px}
    
    #nutri-filter{margin: 20px 0px; border:1px solid #f5f5f5; display: inline-block; background: #f5f5f5;transition: all 0.3s ease;  border-radius: 100px; padding: 10px 25px;}
    #nutri-filter:hover{background: #f5f5f5; border:1px solid #92cc34}
    
    #sub, #add {
    background: #eee;
    border: 0;
    font-size: 14px;
    font-weight: 600;
    color: #555;
    padding: 5px;
    width: 30px;}
    
   .bi-qty input{border:0; width: 28px; padding-left: 7px}

   .btn-edit, btn-edit:hover, btn-edit:focus, btn-edit:active
   {
     background: transparent;
     color: #92cc34;
     font-size: 16px;
   }
/* Style the tab */
.tab {
  float: left;
   border-top: 0;
  background-color: #f4f4f4;
  width: 25%;
  height: 300px;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: #888;
  padding: 10px 15px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 13px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  color:#000; font-weight: 700
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #fff; border-right: 0; color:#000; font-weight: 700
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  
  width: 75%;
  border-left: none;
  min-height: 400px;
  /*overflow-y:scroll;*/
  border-top: 0
}

.modal-body{padding:0}
.modal-footer{background: #fff}

#loginModal .tabcontent{height: 100%}
#loginModal .tabs{height: 100%}
    

.notifs {    display: none;
    max-height: 250px;
    overflow-y: auto;}
.notifs li {padding: 0}
.notifs li a{display:flex; padding: 5px 15px; position: relative}
.notifs li a img{margin-right: 10px}
.notifs li a p{max-width: 250px; overflow: hidden; text-overflow: ellipsis; font-size: 12px}
.notifs li a small{position: absolute; left:60px; bottom: 10px; font-size: 8px; opacity: 0.8}

.heart{margin-bottom: 0; position: absolute; right: 15px; top:15px; border-radius: 3px;     background: rgba(255,255,255,1);
    padding: 10px;
    height: 34px;
    width: 34px;}
.heart:hover{background: rgba(255,255,255,1); cursor: pointer}
 .heartmark
    {
        height:34px;
        width:34px;
        /*background-image: url(../img/heart@1x.png); background-repeat: no-repeat;*/ 
        position: absolute;
        right: 0;
        top: 0;
    }
   
    input:checked ~ .heartmark
    {
        background-image: url(../img/heart_filled@1x.png); background-repeat: no-repeat; background-position: center;
    }
    input:not(:checked) ~ .heartmark
    {
        background-image: url(../img/heart@1x.png); background-repeat: no-repeat; background-position: center;
    }
  
   
    .op-section-head{background: #92cc34; padding: 10px 20px; margin-bottom: 20px}
    .op-section-head .bag-title{color:#fff; font-weight: 600}
    .op-section-head p{color:#fff; opacity: 0.7; }
    .op-section-head .btn-change-title {
    position: absolute;
    right: 27px;
    top: 10px;
    background: #fff;
    color: #111;
        border:0; border-radius: 0;
    padding: 5px 15px;}
    
    .op-footer div .bag-price-title{font-size: 14px; color:#333; line-height: 28px}
    .op-footer div .bag-price{font-size: 14px; font-weight: 600; float: right; color:#333}
    .op-footer div.grand {padding-top: 10px}
    .op-footer div.grand .bag-price-title{font-size: 16px; color:#333; font-weight: 700;  line-height: 28px; text-transform: uppercase}
    .op-footer div.grand .bag-price{font-size: 16px; font-weight: 700; float: right; color:#92cc34}
    
    .op-coupon {padding: 15px 0}
    .op-coupon input{border-radius: 100px; box-shadow: none; }
    .op-coupon button{border-radius: 100px; background-color:#92cc34; color:#fff; margin-left: 15px}

    
    .order-preview .op-section .op-section-title{display: block;
    color: #c5c5c5;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 20px;}
    
        .order-preview .op-section{margin-bottom: 40px}
        
        .op-pickupinfo{width: 100%}
        .op-pickupinfo tr td{line-height:28px}

/***** new ******/
/*#pickup_detail_form*/
/*{*/
  /*position: fixed;*/
/*}*/
.scrooll
{
  height: 620px; overflow-y: auto
}
.custom-img
{
  height: 440px;
  margin-left: 25px;
  position: absolute;
}

#aswift_0_anchor, #aswift_0_expand
{
  height: 50px !important;
  width: 100% !important;
  display: none !important;
}

@media only screen and (max-width: 500px) {
  .res-img {
    height: 400px !important;
  }

}

.mu-title h2 {
  color: #28343d;
  font-size: 48px;
  margin-bottom: 40px;
  margin-top: 30px;
  letter-spacing: 4px;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}
.res-img
{
  width: 100% !important;
}

.scrollToTop
{
  bottom: 34px;
  border-radius: 6px;
  box-shadow: 1px 2px 2px rgb(0, 0, 0, 0.2);
  color: #fff;
  display: none;
  font-size: 17px;
  line-height: 22px;
  font-family: "Open Sans", sans-serif;
  padding: 5px 0;
  position: fixed;
  right: 95px;
  text-align: center;
  text-decoration: none;
  width: 55px;
  z-index: 999;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
/*@media only screen and (max-width: 991px) {*/
  /*#pickup_detail_form {*/
    /*position: static;*/
  /*}*/
/*}*/

@media only screen and (max-width: 768px)
{
  .bag-footer2
  {
    margin-top: 20px;
  }
  .scrooll
  {
    height: auto;
  }
  .remove-padding
  {
    padding-left: 0px;
  }
  #mu-slider .mu-slider-area .mu-top-slider .mu-top-slider-single img {
    width: 100%; height: 100%;
  }
  .res-img
  {
    height: 500px !important;
  }
  #mu-slider
  {
    margin-top: 40px;
    height: 300px;
  }
  #mu-slider .mu-slider-area
  {
    min-height: 200px;
  }

  #mu-contact .mu-contact-area .mu-contact-content .mu-contact-right
  {
    margin-top: 0px;
  }
  #mu-contact .mu-contact-area .mu-contact-content
  {
    margin-top: 0px;
  }
  #mu-restaurant-menu {
    padding: 40px 0;
  }

  #mu-footer .mu-footer-area {
    margin-bottom: 20px;
  }
  .mu-main-navbar .navbar-header .navbar-brand {
    height: 40px;
    width: 115px;
    margin-top: 5px;
  }


  .mu-main-navbar .mu-main-nav {
    background-color: transparent;
    text-align: center;
  }

  .scrollToTop
  {
    bottom: 8px;
    right: 60px;
  }
}

@media (max-width: 640px) {
  .mu-main-navbar .mu-main-nav {
    background-color: transparent;
    text-align: center;
  }
}
@media (max-width: 360px) {
  #mu-slider {
    margin-top: 60px;
    height: 150px;
  }
}
@media (max-width: 500px) {
  #mu-slider {
    margin-top: 60px;
    height: 210px;
  }
}

@media (max-width: 400px) {
  #mu-slider {
    margin-top: 60px;
    height: 200px;
  }
}
.bi-qty input {
  border: 0;
  width: 35px !important;
  padding-left: 7px;
}
.fixheight
{
  height: 110px;
  overflow-y: scroll;
}
.btn-bag
{
    display: none;
}
.bag
{
  width: 320px;
    height: 560px;
  position: fixed;
    background-color: #fff;
}
@media (max-width: 992px) {
  #mu-footer {
    text-align: center;
  }
    .btn-bag
    {
        display: block;
    }

  .scrooll
  {
    height: auto;
  }

  .bag {
      height: 560px !important;
      display: none;
      position: absolute !important;
      top: 0 !important;
      right:0 !important;
      bottom: 0px;
      width: 97% !important;
      float:right !important;
      z-index: 9 !important;
      margin: 0px 10px;
      box-shadow: 3px 3px 15px rgba(0,0,0,0.1);
  }
  .res-700
  {
    margin-top: 700px;
  }

  /*.fixheight*/
  /*{*/
    /*height: auto;*/
  /*}*/

  .footer-app {
    text-align: center;
    margin-bottom: 15px;
  }
  .custom-img
  {
    height: 350px;
    width: 80%;
    margin-left: 25px;
    position: absolute;
    display: none;
  }
}
.bag-footer2
{
    padding: 0px 10px;
}
.total
{
    margin-top: 10px;
    border-top: 1px solid #eee;
    padding-top: 10px;
}
@media (max-width: 600px) {
    .custom-tabs .nav-tabs > li > a {
        font-size: 11px;
        margin: 10px 5px;
        padding: 10px 10px;
    }
}

.padding-mobile
{
  padding-right: 0;
}

@media (max-width: 992px) {
  .padding-mobile
  {
    padding-right: 15px;
    margin-bottom: 15px;
  }
}

.form-control-edit-name
{
  color: #000;
  border: none;
  box-shadow: none;
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
  outline: none;

}
.form-control-edit-name:read-only, .form-control-edit-name:hover, .form-control-edit-name:focus
{
  outline: none;
}

.form-control-edit-name2
{
  color: #000;
  border: 1px solid #eee;
  border-radius: 0;
  background: #f7f7f7;
  box-shadow: none;
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  background-image: none;

}

.mb-12
{
  margin-bottom: 12px;
}


/*@media  only screen and (max-width: 1199px) and (min-width: 992px) {*/
  /*.media .media-body .media-add*/
  /*{*/
    /*margin-right: 50px;*/
  /*}*/
  /*.media .media-body .media-heading*/
  /*{*/
    /*width: 350px;*/
  /*}*/
/*}*/
@media  only screen and (max-width: 600px) and (min-width: 320px)
{
  .media .media-body .media-heading
  {
    width: 150px;
  }
}


.form-control-reset
{
  color: #000;
  border: 1px solid #eee;
  border-radius: 0;
  height: 48px;
  background: #f7f7f7;
  box-shadow: none;
}

.mu-send-btn {
  background-color: #85ca18;
  color: #fff;
  border: 1px solid #ccc;
  display: inline-block;
  font-size: 16px;
  padding: 10px 18px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.datepicker-dropdown
{
  z-index: 999 !important;
}

#mu-contact .mu-contact-area .mu-contact-content .mu-contact-left .form-group label {
  font-size: 12px !important;
  margin-bottom: 8px;
  letter-spacing: 0.5px;
}

#sidemenu-scroll
{
  overflow-y: scroll;
  height: 230px
}
.bag-item-addons .bi-title
{
  color: #a7a7a7;
}
.chosen-wrapper1
{
  display: flex;
}
.chosen1
{
  position: relative;
  border: 1px solid #eee;
  width: 100%;
  border-left: 0;
}


@media  only screen and (max-width: 800px) and (min-width: 768px)
{
  .mu-main-navbar .mu-main-nav li a {
    padding-left: 6px;
    padding-right: 6px;
    font-size: 12px;
  }
  .ordernow {
    padding: 8px 20px !important;
  }
  .mu-main-navbar .navbar-header .navbar-brand {
    margin-left: 2px;
     margin-top: 12px;
  }
  .bag-footer2 {
    margin-top: 40px;
  }
  .bi-qty
  {
    margin-right: 50px;
  }
  .modal-dialog {
    width: 600px !important;
    margin: 30px auto;
  }
}

label.error
{
  margin-bottom: 15px !important;
}

.bootstrap-datetimepicker-widget table td.day {
  height: 20px;
  color: #999999 !important;
  line-height: 20px;
  width: 20px;
}