/* All styles created for demo purposes only, you may not need this for your project */
.demo-button button {
  margin-bottom: 5px;
}

.demo-icons li {
  margin-bottom: 50px;
  text-align: center;
}

.demo-icons .lnr,
.demo-icons .fa {
  font-size: 28px;
}

.demo-icons .cssclass {
  display: block;
  margin-top: 5px;
  margin-left: 5px;
}
.btn-primary-active
{
  background-color: #f2b124;
  color: #fff;
}
.btn-primary-disable
{
  background-color: #ddd;
}
/*# sourceMappingURL=demo.css.map */

.nav-border {
  height: 43px;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #fff !important;
  background-color: #92cc34;
  border-color: #f5f5f5 #f5f5f5 #f5f5f5 #f5f5f5;
}
.nav-tabs .nav-link {
  border: 1px solid #ddd;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.nav.nav-pills .nav-link,
.nav.nav-tabs .nav-link {
  color: #6f727d;
}
.select-box {
  color: #575962;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.15);
  text-align: left;
  padding: 10px 15px;
}
.right-menu {
  margin-top: -6px;
  right: 20px !important;
}
.metric .icon i {
  background: transparent;
  color: #92cc34;
  font-size: 32px;
  line-height: 50px;
}
a {
  color: #92cc34;
}
.navbar-default .brand {
  padding: 5px 40px;
  background: transparent;
  color: #fff;
}
.navbar-btn button {
  background: transparent;
  border-radius: 4px;
  padding: 10px;
  color: #91cc34;
}
.layout-fullwidth #wrapper .btn-toggle-fullwidth {
  color: #91cc34;
}
.sidebar .nav > li > a:focus,
.sidebar .nav > li > a.active {
  background-color: #252c35;
  border-left-color: #91cc34;
}
.btn-success {
  background-color: #91cc34;
  border-color: #91cc34;
}
.btn-success:hover,
.btn-success:focus {
  background-color: #87be30;
  border-color: #87be30;
}
.label-success {
  background-color: #90cc34;
}
.label-danger {
  background-color: #f54557;
}
.btn-primary {
  background-color: #fcb825;
  border-color: #fcb825;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #f2b124;
  border-color: #f2b124;
}
.btn-danger {
  color: #fff;
  background-color: #f54557;
  border-color: #f54557;
}
.btn-danger:hover {
  color: #fff;
  background-color: #e54051;
  border-color: #e54051;
}
.btn-info {
  color: #fff;
  background-color: #00bdd0;
  border-color: #00bdd0;
}
.btn-info:hover {
  color: #fff;
  background-color: #00aec0;
  border-color: #00aec0;
}
.dataTables_filter {
  background: transparent;
}
div.dt-buttons {
  float: right;
  margin-left: 10px;
  margin-right: 10px;
  /* width: 147px; */
  /*margin-top: 9px !important;*/
}
.dataTables_filter input {
  background: #fff;
  box-shadow: none;
  border-radius: 2px;
  padding: 6px;
  border: 1px solid #ccc;
}
.table-striped > thead > tr {
  background: #f2f2f291;
}
.table-striped > tbody > tr:nth-of-type(even) {
  background: #f2f2f291;
  border-bottom: 1px solid #f2f2f2;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background: #ffffff;
  border-bottom: 1px solid #f2f2f2;
}

th {
  border-bottom: 1px solid #f2f2f2;
}

#wrapper .main {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: calc(100% - 200px);
  left: 0;
  position: relative;
  float: right;
  background-color: #f2f2f2;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  border: 0;
  background: #91cc34;
  color: #fff !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: #91cc34 !important;
  border: none;
  background-color: transparent;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, transparent),
    color-stop(100%, transparent)
  );
  background: -webkit-linear-gradient(top, transparent 0%, transparent 100%);
  background: -moz-linear-gradient(top, transparent 0%, transparent 100%);
  background: -ms-linear-gradient(top, transparent 0%, transparent 100%);
  background: -o-linear-gradient(top, transparent 0%, transparent 100%);
  background: linear-gradient(to bottom, transparent 0%, transparent 100%);
}
.form-panel {
  background: #fff;
  border: none;
  padding: 20px 45px;
  float: none;
  margin: auto;
  margin-top: 20px;
}
.new-panel .panel-heading {
  background: #fff;
  margin-bottom: 20px;
  padding: 15px 0;
  border-bottom: 1px solid #e5e5e5;
}
.panel-heading2 {
  padding: 6px 5px 15px 15px;
}
.panel-title2 {
  margin-top: 20px;
  margin-bottom: -50px;
}
.button-fix {
  margin-top: -45px;
}

@media screen and (max-width: 1024px) {
  #wrapper .main {
    width: 100%;
  }
  #wrapper .btn-toggle-fullwidth {
    color: #91cc34;
  }
}

@media screen and (max-width: 767px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: none;
  }
  .navbar-nav > li {
    display: table-cell;
    width: 75px;
    position: inherit;
    text-align: center;
  }
  .navbar-default #navbar-menu {
    float: right;
    margin-top: -40px;
  }
  #wrapper #sidebar-nav,
  #wrapper .main {
    padding-top: 62px;
  }

}

@media screen and (max-width: 640px) {
  #wrapper #sidebar-nav,
  #wrapper .main {
    padding-top: 42px !important;
  }
  div.dt-buttons
  {
    margin-top: 40px !important;
  }
}

td.disabled {
  background-color: #ddd;
}
span.month,
span.decade,
span.century,
span.year {
  padding: 5px;
}

.btn-group {
  width: 100% !important;
}

.bg-img {
  background-image: url(../img/cbg.jpg);
  background-size: cover;
}

#wrapper #sidebar-nav, #wrapper .main {
  padding-top: 42px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  color: #fff !important;
  cursor: default;
  background-color: #91cc34;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}

.nav-tabs {
   border-bottom: none;
}
.menu-clone-border
{
  border: 1px solid #ddd;

}